/* Global */
html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body {
    font-family: Arial, sans-serif, helvetica;
}

/* Header */
.header {
    position: relative;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    background-image: url(first.jpg);
    background-position: center;
  background-attachment: fixed;
}

.header-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 40%;
    background: rgb(50, 50, 50);
    border: 25px solid white;
    border-top: 30px solid white;
    border-bottom: 55px solid white;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    animation-name: flash;
    animation-duration: 0.3s;
}

.header-container:hover {
    opacity: 70%;
}

@keyframes flash {
    0% {
        transform: translate(-50%,-50%) scale(0.01);
        background: white;
    }
    
    30% {
        background: white;
    }
    
    31% {
    background: rgb(50, 50, 50);
    }
    
    100% {
        transform: translate(-50%,-50%) scale(1);
    }
}

/* Greeting */
.greeting {
    position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
    height: 70vh;
    vertical-align: middle;
}

.greeting-container {
    position:absolute;
    bottom: 0;
    height: 100%;
    width: 50%;
    right:25%;
    left:50%;
    margin-left: -25%;
}

.greeting-container > * {
    float: left;
    width: 49.5%;
}

.greeting-container div {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 4%;
    box-sizing: border-box;
}

.greeting-container img {
    height: 100%;
}

/* Middle */
.middle-section {
    background: rgb(50, 50, 50);
    padding: 200px 0;
    text-align: center;
    color: white;
    overflow: hidden;
}

.row {
    padding-top: 150px;
    content: "";
    display: table;
    clear: both;
    margin-bottom: 100px;
}

.column {
    width: 33%;
    float: left;
}

.column img {
    height: 250px;
    width: 400px;
    background: black;
    border: 1em solid white;
    border-top: 1.2em solid white;
    border-bottom: 2.3em solid white;
    box-sizing: border-box;
    margin-bottom: 100px;
    box-shadow: 5px 5px 10px black;
    transition: 1s;
}

.column.left .side-image:hover, .column.right .side-image:hover {
    transform: scale(1.1);
}

.column.left img {
    transform: rotateZ(-15deg);
}

.column.right img {
    transform: rotateZ(15deg);
}

.column.right img.scroll-animation {
    animation-name: slideRight;
    animation-duration: 0.7s;
}

.column.left img.scroll-animation {
    animation-name: slideLeft;
    animation-duration: 0.7s;
}

@keyframes slideLeft {
    0% {
        transform: rotateZ(-15deg) translateX(-1000px);
    }
    
    100% {
        transform: rotateZ(-15deg) translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: rotateZ(15deg) translateX(1000px);
    }
    
    100% {
        transform: rotateZ(15deg) translateX(0);
    }
}

.column.left img:nth-child(2) {
    transform: rotateZ(-10deg);
}

.column.right img:nth-child(2) {
    transform: rotateZ(10deg);
}

.middle ul {
    list-style-type: none;
}

.middle li {
    margin: 80px 0;
    text-align: center;
}

/* Images */

.images {
    padding: 100px;
    margin-bottom: 100px;
}

.images img {
    width: 36%;
    margin: 3%;
    box-shadow: 5px 5px 15px black;
}

/* Services */

.services h1 {
    font-size: 30px;
}

.service {
    display: inline-block;
    margin: 2% 5%;
    width: 25%;
    padding: 2%;
    background: rgb(40, 40, 40);
    border: 1.3em solid white;
    border-top: 1.7em solid white;
    border-bottom: 3em solid white;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px black;
}

.service p {
    color: rgb(200, 200, 200);
}

/* Contact */

.contact {
    padding: 100px;
    text-align: center;
    background-image: url(pic2.jpg);
    background-position: center;
  background-attachment: fixed;
    color: rgb(70, 70, 70);
}

.contact h1 {
    margin-bottom: 100px;
    font-size: 35px;
}

.contact form {
    display: inline-block;
    width: 40%;
    text-align: left;
    font-weight: bold;
}
.contact input {
    padding: 15px 25px;
    width: 100%;
    font-size: 14px;
    margin: 13px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.contact textarea {
    width: 100%;
    resize: none;
    height: 200px;
    margin-top: 13px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    
}

@media (max-width: 1024px) {
    /* Header */
    .header-container {
        width: 90%;
    }
    
    /* Middle */
    .row {
        display: block;
    }
    
    .column { 
        float: none;
        width: 100%;
    }
    
    .column.middle {
        margin: 150px 0px;
        text-align: center''
    }
    
    .column.left img, .column.right img {
        transform: rotateZ(0deg);
        margin: auto;
        display: inline-block;
    }

    .column.left img:nth-child(2), .column.right img:nth-child(2) {
        display: none;
    }
    
    /* Images */
    .images {
        padding: 0px;
    }
    
    
    
    /* Services */
    .service {
        width: 55%;
    }
}

@media (max-width: 1250px) and (min-width: 1024px) {
    .column img {
        width: 300px;
        height: 230px;
    }
    
    /* Services */
    .service {
        width: 40%; 
    }
}

@media (max-width: 1250px) {
    /* Services */
    .contact form {
        width: 100%;
    }
}

@media (max-width: 760px) {
    
    /* Images */
    .images {
        padding: 50px;
        box-sizing: border-box;
    }
    
    .images img {
        width: 95%;
        margin: 3%;
        box-shadow: 5px 5px 15px black;
    }
    
    
    
    /* Services */
    .services {
        padding: 5%;
    }
    
    .service {
        width: 100%;
        box-sizing: border-box;
        margin: 5% 0;
    }
}